.pokelist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokecard {
    width: 350px;
    border: 2px solid black;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 3px 3px 8px grey;
    position: relative;
    overflow: visible;
}

.name {
    font-weight: bold;
    font-size: 1.2rem;
    width: 60%;
    margin: 20px auto 0px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

.pokecard img {
    width: 300px;
    border: 1px solid black;
    margin: 20px;
    background-color: white;
    transition: width 1s;
}

.pokecard img:hover {
    width: 400px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    border: 5px solid black;
    background-color: hsla(0, 0, 100%, 0.1);
}

.info {
    background-color: white;
    width: 50%;
    margin: 0px auto 20px;
    padding: 10px 0px;
    border-radius: 15px;
    border: 1px solid black;
}